.A { 
    background: linear-gradient(to right, #9c9e9f, #f6f6f6);
    color:black;
    font-size: 50px;
    height: 100px;
    text-align-last: center; 
 }
.nav {
    font-size: 30px;
    width: 100%;
    height: 40px;
    background-color: gray;
    text-align: center;
  }

.first { 
    background: #DDD; width: 15%; background-color: rgb(226, 223, 208);
    height:500px; float: left;
    overflow: scroll;
    font-size: 30px;
}
.second { 
    background: #AAA;width: 70%; background-color: #FFFFFF;
    height:500px; float: left;
}
.third { 
    background: #777; width: 15%; background-color: rgb(107, 106, 102);
    height:500px; float: left;
}
img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  a{
    color: black;
  }